body {
  margin: 0;
  background: #faf4e5;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

.container {
  width: 500px;
  margin: 80px auto;
  text-align: center;
  padding: 60px;
}

h1 {
  font-size: 26px;
  margin-bottom: 40px;
}

.btn {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  margin: 12px 0;
  border: 1px solid #E7A664;
  background: #E7A664;
  cursor: pointer;
}
