body {
  margin: 0;
  background: #FAEECF;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

.container {
  width: 600px;
  margin: 150px auto;
  text-align: center;
  background: #F8E8C6;
  padding: 100px;
}

h1 {
  font-size: 32px;
  margin-bottom: 40px;
}

.back {
  width: 200px;
  padding: 10px;
  background: #E7A664;
  border: 1px solid #E7A664;
  cursor: pointer;
}
