body {
    background-color: #FFF6DC;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

img {
    width: 150px;
    margin-bottom: 10px;
}

h1 {
    font-size: 1.6em;
    margin-bottom: 20px;
    line-height: 1.2;
    color: #653C1C;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 4px;
    font-size: 1em;
}

button {
    background-color: #F3B975;
    border: 1px solid #C18A50;
    border-radius: 4px;
    padding: 10px 0;
    width: 100%;
    margin-top: 20px;
    font-size: 1em;
}

button:hover {
    background-color: #e9a956;
    cursor: pointer;
}

.register-link {
    margin-top: 10px;
}

.register-link a {
    color: blue;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-bottom: 10px;
}
