body {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  background-color: #fff6dc;
  margin: 0;
  padding-bottom: 80px;
  text-align: center;
}

/* タイトル */
header h1 {
  color: #6b3e1f;
  font-size: 1.8em;
  margin: 20px 0 5px;
  border-bottom: 2px solid #b47a3b;
  display: inline-block;
  padding-bottom: 5px;
}

header h2 {
  font-size: 1.3em;
  color: #3b2b1f;
  margin-bottom: 20px;
}

/* カートアイテム */
.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f3f1;
  width: 85%;
  margin: 10px auto;
  border-radius: 5px;
  overflow: hidden;
}

.item-info {
  background-color: #d8d5d1;
  flex: 1;
  padding: 10px;
  font-size: 0.9em;
  line-height: 1.5;
}

.item-control {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.3em;
  background-color: #f8f8f9;
  padding: 10px;
}

.item-control .plus {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.item-control .minus {
  color: #444;
  font-weight: bold;
  cursor: pointer;
}

.delete-btn {
  background: none;
  border: none;
  font-size: 1em;
  color: #333;
  cursor: pointer;
}

/* 合計金額 */
.total-section {
  margin-top: 40px;
}

.total-section p {
  font-size: 1.2em;
  margin: 0;
}

.price {
  font-weight: bold;
  font-size: 1.5em;
  display: block;
  margin-top: 5px;
}

.buy-btn {
  margin-top: 15px;
  background-color: #dcd9d5;
  border: none;
  padding: 8px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

/* 下ナビ */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f3b975;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #c18a50;
  padding: 8px 0;
}

.nav-item {
  text-align: center;
  font-size: 0.9em;
  color: #4a3b2f;
}
.nav-item span {
  font-size: 0.8em;
}
